[Desktop Entry]
Type=Service
Icon=zanshin
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_zanshintasksplugin
X-KDE-KontactPluginVersion=9
X-KDE-KontactPartLibraryName=zanshin-tasks_part
X-KDE-KontactPartExecutableName=zanshin-tasks
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_zanshintasksplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Kontact Zanshin Tasks Plugin
Comment[de]=Zanshin Aufgaben-Modul für Kontakt
Comment[x-test]=xxKontact Zanshin Tasks Pluginxx
Name=Todo Lists
Name[de]=Aufgabenlisten
Name[x-test]=xxTodo Listsxx
