[Desktop Entry]
Name=Zanshin Notes Part
Name[de]=Zanshin Notiz Part
Name[x-test]=xxZanshin Notes Partxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=zanshin_notes_part
Type=Service
Icon=zanshin

